ClienteEsfot/src/conf/xml-resources/web-service-references/NewWebService/wsdl/localhost_8080/WebServicesDGIP/NewWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://UDDI/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://UDDI/" name="NewWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://UDDI/" schemaLocation="http://localhost:8080/WebServicesDGIP/NewWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="total_horas">
<part name="parameters" element="tns:total_horas"/>
</message>
<message name="total_horasResponse">
<part name="parameters" element="tns:total_horasResponse"/>
</message>
<message name="sueldo">
<part name="parameters" element="tns:sueldo"/>
</message>
<message name="sueldoResponse">
<part name="parameters" element="tns:sueldoResponse"/>
</message>
<portType name="NewWebService">
<operation name="hello">
<input wsam:Action="http://UDDI/NewWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://UDDI/NewWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="total_horas">
<input wsam:Action="http://UDDI/NewWebService/total_horasRequest" message="tns:total_horas"/>
<output wsam:Action="http://UDDI/NewWebService/total_horasResponse" message="tns:total_horasResponse"/>
</operation>
<operation name="sueldo">
<input wsam:Action="http://UDDI/NewWebService/sueldoRequest" message="tns:sueldo"/>
<output wsam:Action="http://UDDI/NewWebService/sueldoResponse" message="tns:sueldoResponse"/>
</operation>
</portType>
<binding name="NewWebServicePortBinding" type="tns:NewWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="total_horas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sueldo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NewWebService">
<port name="NewWebServicePort" binding="tns:NewWebServicePortBinding">
<soap:address location="http://localhost:8080/WebServicesDGIP/NewWebService"/>
</port>
</service>
</definitions>